.App {
  text-align: center;
  font-weight: bold;

  position: relative;

  margin-bottom: 10vh;
}

.app-ele {
  margin: 0 auto;
  margin-bottom: 24px;
}

.app-ele p {
  user-select: none;
}


.control-1 {
  width: 100%;
  max-width: 300px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  
}