.App {
  text-align: center;
  font-weight: bold;

  position: relative;

  margin-bottom: 10vh;
}

.app-ele {
  margin: 0 auto;
  margin-bottom: 16px;
}

.app-ele p {
  user-select: none;
  margin-bottom: 0 !important;
}


.control-1 {
  width: 100%;
  max-width: 300px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  
}

.control-1 button {
  width: auto;
  padding: 0;
  margin: 0;
  background-color: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  -webkit-appearance: none;
  appearance: none;
}

.control-1_child img {
  width: 30px;
  height: 30px;
}