footer {
  width: 100%;
  min-width: 280px;
  max-width: 660px;
  height: 80px;
  margin: 0 auto;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}


.footer-ele {
  padding: 5%;
}

footer h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 1.4rem ;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbb;
}

.footer-ele h2::before {
  content: '> ';
}

.footer-ele ul {
  list-style: none;
  text-decoration: none;
  font-size: 1.1rem;
}

.footer-ele ul li {
  margin: 10px 0;
}

.footer-ele p {
  font-weight: 500;
  padding: 5px 5px;
}

footer small {
  display: block;
  margin: 0 auto;
  font-size: 1.1rem;
}

.footer-ele code {
  padding: 2px 4px;
  background-color: #ebebeb;
}